#info {
	display: block;
	margin-bottom: 2rem;
}

body {
	background-image: url("img/portal.png");
	background-size: cover;
}

img {
	border-radius: 20%;
}

input[type=number] {
  	background-color: yellow;
  	postion: absolute;
  	opacity: 80%;
  	background-image: url("img/search.png");
 	background-position: 10px 10px;
  	background-repeat: no-repeat;
  	padding-left: 40px;
  	top: 50;
}

input[type=number]:focus {
  background-color: lightgreen;
}

button {
	margin-top: 2.0rem;
	margin-bottom: 2.0rem;
}

footer {
 	position: absolute;
 	bottom: 0;
  	width: 100%;
  	height: 2.5rem;     
}

.btn-primary {
	background-color:  #55a630;
	border-color: #ccff33;
	color: yellow;
}

.btn-primary:hover {
	background-color: #ccff33;
    border-color: #55a630;
    color: green;
}


